.container{
    background-color: navy;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.header{
    background-color: darkcyan;
    height: 60px;
}

.wrapper {
    background-color: aquamarine;
    /*flex-direction: row-reverse;*/
    display: flex;
}

.menu {
    background-color: blueviolet;
    width: 30%;
}

.content {
    background-color: yellowgreen;
    width: 70%;
}

.footer {
    background-color: black;
    
}