.container{
    background-color: navy;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    color: white;
    grid-template-areas:    
        'header header header'
        'menu content content'
        'footer footer footer';
}

.header{
    background-color: darkcyan;
    grid-area: header;
}

.menu {
    background-color: blueviolet;
    grid-area: menu;
}

.content {
    background-color: yellowgreen;
    grid-area: content;
}

.footer {
    background-color: black;
    grid-area: footer;
}